.hero {

  background-image: url('../assets/cover-project-2.png');

  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  background-size: cover;
  background-attachment: local;
  background-position: 15%;

  z-index: 9;
}



.hero-cta {
  
  width: 80%;
  text-align: unset;
  margin: 20%;
  color: #fff;
  line-height: 5;

}

.hero-cta h2 {
 padding-top: 0%;
  font-size: 45px;
  color: black;
}

.hero-cta h3 {
  font-style: italic;
  font-size: 25px;
  color: rgb(52, 98, 159);
}

/* End of Header */